In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [2]:
titanic = sns.load_dataset('titanic')

In [3]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [5]:
#delete null values
titanic.dropna(inplace=True)

In [6]:
x = titanic[['pclass', 'age', 'sibsp', 'parch', 'fare', 'sex']] #variables independientes caracteristicas
y = titanic['survived'] #variable objetivo a predecir

In [8]:
#convertir variables categoricas a numericas
x['sex'] = x['sex'].map({'male': 0, 'female': 1})

C:\Users\ASUS\AppData\Local\Temp\ipykernel_23336\4217947083.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['sex'] = x['sex'].map({'male': 0, 'female': 1})

In [9]:
x

     pclass   age  sibsp  parch     fare  sex
1         1  38.0      1      0  71.2833    1
3         1  35.0      1      0  53.1000    1
6         1  54.0      0      0  51.8625    0
10        3   4.0      1      1  16.7000    1
11        1  58.0      0      0  26.5500    1
..      ...   ...    ...    ...      ...  ...
871       1  47.0      1      1  52.5542    1
872       1  33.0      0      0   5.0000    0
879       1  56.0      0      1  83.1583    1
887       1  19.0      0      0  30.0000    1
889       1  26.0      0      0  30.0000    0

[182 rows x 6 columns]

In [10]:
#separar datos de entrenamiento y prueba
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [11]:
#crear modelo
modelo = LogisticRegression()
modelo.fit(x_train, y_train)

LogisticRegression()

In [12]:
#predecir
prediction = modelo.predict(x_test)

In [13]:
print(classification_report(y_test, prediction))

              precision    recall  f1-score   support

           0       0.47      0.69      0.56        13
           1       0.78      0.58      0.67        24

    accuracy                           0.62        37
   macro avg       0.63      0.64      0.61        37
weighted avg       0.67      0.62      0.63        37

In [14]:
print("Accuracy: ", accuracy_score(y_test, prediction))

Accuracy:  0.6216216216216216

In [15]:
print("Confusion Matrix: \n", confusion_matrix(y_test, prediction))

Confusion Matrix:
 [[ 9  4]
 [10 14]]